.jumbotron{
  background-color: maroon;
  width: 100%;
  color: #ea7500;
  margin-bottom: 0;

}

.logo{
  position: absolute;
  height: 75px;
}
.profile{
  width: 100%;
  min-height: 85em;
  /*margin-top: 20px;*/
  background-image: url(/img/image-couple-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.container{
  margin-top: 50px;
  margin-left: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  color: maroon;

}
.description{
  height: 600px;
  width: 50%;
  margin-top: 320px;
  margin-left: 300px;

}
