<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form class="form" name="loginForm" novalidate ng-submit="register()">
      <div ng-repeat="error in errors">{{error.error}}</div>
      <div class="input-group">
        <label>Je suis ...
        <select id="sexe" type="sexe" class="form-control" ng-model="user.sexe" placeholder="sexe">
        </label>
        <option value="Homme">Je suis un Homme</option>
        <option value="Femme">Je suis une Femme</option>
      </div>
      <div class="input-group">
        <input id="firstname" type="firstname" class="form-control" ng-model="user.firstname" placeholder="firstname">
      </div>
      <div class="input-group">
        <input id="lastname" type="lastname" class="form-control" ng-model="user.lastname" placeholder="lastname">
      </div>
      <div class="input-group">
        <input id="age" type="age" class="form-control" ng-model="user.age" placeholder="age">
      </div>
      <div class="input-group">
        <input id="pseudo" type="pseudo" class="form-control" ng-model="user.pseudo" placeholder="pseudo">
      </div>
      <div class="input-group">
        <input id="mail" type="mail" class="form-control" ng-model="user.email" placeholder="adresse mail">
      </div>
      <div class="input-group">
        <input id="password" type="password" class="form-control" ng-model="user.password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
  </div>
</div>
