<div class="container-fluid profile">
  <div class="jumbotron">
    <h1 class="title-site">Chrono Lo<span><img class="logo" src="img/logolove.svg" alt="logo">e</span></h1>
  </div>
  <div class="row description">
    <div class="col-xs-12 container">
      <h2>Description</h2>
 <form>
   <div class="form-group">
     <label for="sel1">Ta silhouette:</label>
     <select class="form-control" id="sel1">
       <option>svelte</option>
       <option>normal(e)</option>
       <option>athlétique</option>
       <option>musclé(e)</option>
       <option>fort(e)</option>
     </select>
     <br>
     <label for="sel2">Ta situation professionnelle:</label>
     <select class="form-control" id="sel2">
       <option>étudiant(e)</option>
       <option>salarié(e)</option>
       <option>à mon compte</option>
       <option>sans emploi</option>
       <option>retraité(e)</option>
     </select>
     <br>
     <label for="sel2">Ta recherche:</label>
     <select class="form-control" id="sel2">
       <option>un flirt</option>
       <option>une companie</option>
       <option>un bout de chemin </option>
       <option>le grand Amour</option>
     </select>
     <br>
     <label for="sel2">Son âge:</label>
     <select class="form-control" id="sel2">
       <option>entre 18 et 25</option>
       <option>entre 25 et 30</option>
       <option>entre 30 et 35</option>
       <option>entre 35 et 40</option>
       <option>entre 40 et 45</option>
       <option>entre 45 et 50</option>
       <option>entre 50 et 55</option>
       <option>entre 55 et 60</option>
       <option>entre 60 et 65</option>
     </select>
     <br>
     <label for="sel2">Tu cherches:</label>
     <select class="form-control" id="sel2">
       <option>un homme</option>
       <option>une femme</option>
           </select>
 </form>
    </div>

  </div>
</div>
